body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,156,1) 100%);

}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.head {
    margin-bottom: 20px;
}
.email-group {
    margin-bottom: 15px;
}
.email-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.email-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error {
    color: red;
    font-size: 0.9em;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;

}
.btn:hover {
    background-color: #0056b3;
}