
.bg-container { 
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6c2ab3, #1b458d);
    color: #fff;
    display:flex;
    justify-content: center; 
}

.card-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 60vh;
    text-align: center;
    color: #333;
}

.main-head {
    font-size: 40px;
    margin-bottom: 18px;
    color: #333;
}

p {
    font-size: 18px;
    margin: 10px ;
}

.input {
    display: block;
    padding: 10px;
    margin: 10px ;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    color: #333;
    width:50vh;
}

input::placeholder {
    color: #aaa;
}

button:hover {
    background-color: #1a5cbc;
}
.btn{
    margin-top:15px;
    margin-bottom:10px;
    height:40px;
    width:110px;
}

span {
    color: #2575fc;
    cursor: pointer;
    font-weight: bold;
}

span:hover {
    text-decoration: underline;
}

.email-icon
{
    cursor: pointer;
    position:absolute;
    top:18px;
    margin-left:345px;
    margin-top: 358px;
}

.line{
    width: 170px;
    border-color: #333;
}

.or{
    font-style: normal;
    font-size: 15px;
    display: inline;
}

.line-2{
    width: 170px;
    border-color: #333;
}

.button-1
{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border-color: #333;
    border:1px solid;

}

 .google-icon
{
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    height: 20px;
    width: 20px;
    color:green;
} 


.error-message {
    color: #dc3545;
    font-family: "Roboto";
    font-size: 14px;
  }